<!-- <h1 [ngStyle]="{'font-family': 'PT Sans'}">Dive Inn - What's Inside ? ! @ # $ % * ( ) ~ - + = ' " ;</h1> -->

<h1 [ngStyle]="headerStyle">Dive Inn - What's Inside ? ! @ # $ % * ( ) ~ - + = ' " ;</h1>
<p [ngStyle]="textStyle">The quick brown ox forked over the jazzy dog mp. ? ! @ # $ % & * ( ) ~ - + = ' " ;</p>

<div class="controlsContainer">
  <div>
    <select 
      [(ngModel)]="headerFont" 
      (change)="onChange($event)" 
      (ngModelChange)="onModelChange(controlsEnum.header, $event)"
    >
      <option *ngFor="let font of fontOptions"
        [ngValue]="font"
      >
        {{ font.uiText }}
      </option>
    </select>
    <br/>
    <label for="headerBold">Bold: </label>
    <input type="checkbox"
      id="headerBold"
      [(ngModel)]="headerFont.properties.bold"
      (ngModelChange)="$event ? headerFont.properties.weight = 700 : headerFont.properties.weight = 400"
      [checked]="headerFont.properties.weight === 700"
    />
    <p>Selected Font:<br>{{headerFont.uiText}}</p>
    <p>bold: {{headerFont.properties.bold}}<br>weight: {{headerFont.properties.weight}}</p>
  </div>
  <div>
    <select 
      [(ngModel)]="textFont" 
      (change)="onChange($event)" 
      (ngModelChange)="onModelChange(controlsEnum.text, $event)"
    >
      <option *ngFor="let font of fontOptions"
        [ngValue]="font"
      >
        {{ font.uiText }}
      </option>
    </select>
    <br/>
    <input type="checkbox"
      id="textBold"
      [(ngModel)]="textFont.properties.bold"
      (ngModelChange)="$event ? textFont.properties.weight = 700 : textFont.properties.weight = 400"
      [checked]="textFont.properties.weight === 700"
    />
    <label for="textBold"><span>Bold AT|jpgy</span></label>
    <p>Selected Font:<br>{{textFont.uiText}}</p>
    <p>bold: {{textFont.properties.bold}}<br>weight: {{textFont.properties.weight}}</p>
  </div>
  <div>
    <h4>Add a new font</h4>
    <label for="addFontFamily">Family: </label>
    <input type="text"
      id="addFontFamily"
      [(ngModel)]="fontNameToAdd"
      #addFontFamily="ngModel"
      required
    />
    <p>Input: {{ fontNameToAdd }}</p>
    <p>Valid: {{ addFontFamily.valid }}</p>
    <label for="addFontHref">Href: </label>
    <input type="text"
      id="addFontHref"
      [(ngModel)]="fontHrefToAdd"
      #addFontHref="ngModel"
    />
    <p>Input: {{ fontNameToAdd }}</p>
    <p>Valid: {{ addFontHref.valid }}</p>
  </div>
</div>
<div class="controlsContainer">
  <div>
    <input type="radio"
      name="testRadio"
      id="testRadio1"
    />
    <label for="testRadio1"><span>Test Radio jpgy</span></label>
    <br><br>
    <input type="radio"
      name="testRadio"
      id="testRadio2"
    />
    <label for="testRadio2"><span>jpgy Test Radio</span></label>
  </div>
</div>

<!-- <p class='gray-lt'> The quick brown ox forked over the jazzy dog mp. ? ! @ # $ % & * ( ) ~ - + = ' " ;</p>
<h1 class='alfa'>Dive Inn - What's Inside ? ! @ # $ % * ( ) ~ - + = ' " ;</h1>
<h1 class='anton'>Dive Inn - What's Inside ? ! @ # $ % * ( ) ~ - + = ' " ;</h1>
<h1 class='patua'>Dive Inn - What's Inside ? ! @ # $ % * ( ) ~ - + = ' " ;</h1>
<p> The quick brown ox forked over the jazzy dog mp.</p>
<p class='gray-lt'> The quick brown ox forked over the jazzy dog mp. ? ! @ # $ % & * ( ) ~ - + = ' " ;</p>
<p class='gray-md'> The quick brown ox forked over the jazzy dog mp.</p>
<p class='ptSans gray-dk'> The quick brown ox forked over the jazzy dog mp.</p>
<p class='ptSansBold'> The quick brown ox forked over the jazzy dog mp.</p> -->

