<div>
  <ul>
    <li *ngFor="let font of fontList$ | async">
      <span>{{ font.family }}</span>
      <span>id: {{ font.properties.id }}</span>
      <span>category: {{ font.properties.category }}</span>
      <button *ngIf="!(font.properties.listId===fontListEnum.BLACKLISTED)"
        class="remove-button" 
        (click)="fontClick({fontObj: font, buttonId: 'left'})">
          &lt;
      </button>
      <button *ngIf="!(font.properties.listId===fontListEnum.SELECTABLE)"
        class="remove-button" 
        (click)="fontClick({fontObj: font, buttonId: 'right'})">
          &gt;
      </button>
    </li>
  </ul>
</div>
