@import './scss/font-faces';
@import './scss/colors';
@import './scss/common-imports';
@import './scss/resets';
@import './scss/typography';
@import './scss/controls';

/** Global Styles **/

// Page Defaults
body {
  background-color: $dive-black;
  color: $dive-white;
  line-height: stripUnit(1px);

  padding: pxToRem(8px 16px 24px 32px);
}
